<%- partial('_partials/head') %>
<body>
  <%- partial('_partials/header') %>

  <main id="main" class="site-main">
    <%- body %>
  </main>

  <%- partial('_partials/footer') %>

  <%- partial('_partials/scripts') %>
</body>
</html>
